.card{
    display: flex;
    padding: 20px;
    background-color: #efefef;
    margin-bottom: 10px;
    width: 300px;
}

a{
    text-decoration: none;
    color: rgb(70, 70, 70);
    padding: 10px;
    text-transform: capitalize;
}

.image{
    height: 100px;
    width: 100px;
}

.author{
    text-decoration: none;
    background-color: rgb(46, 192, 119);
    padding: 10px;
    text-align: center;
}